name: "Build and deploy"

on:
  push:
    branches:
      - main
      - develop

permissions:
  id-token: write
  packages: write
  contents: write
  pull-requests: write

jobs:
  get-env:
    runs-on: ubuntu-latest
    steps:
      - name: Set environment
        id: set-env
        run: echo "env=$(if [ ${{ github.ref }} == 'refs/heads/main' ]; then echo 'PROD'; else echo 'DEV'; fi)" >> $GITHUB_ENV
    outputs:
      env: ${{ env.env }}
  build:
    runs-on: ubuntu-latest
    needs:
      - get-env
    defaults:
      run:
        working-directory: ./itu-minitwit-golang
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Get short SHA or matching commit hash
        id: get_sha
        run: |
          if [ "${{ needs.get-env.outputs.env }}" == "DEV" ]; then
            short_sha=$(echo ${{ github.sha }} | cut -c1-7)
          else
            latest_commit=$(git log -1 --pretty=format:"%H" origin/develop)
            short_sha=$(echo $latest_commit | cut -c1-7)
          fi
          echo "short_sha=$short_sha" >> $GITHUB_ENV
      - name: Log in to GitHub Docker registry
        if: ${{ needs.get-env.outputs.env == 'DEV' }}
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        if: ${{ needs.get-env.outputs.env == 'DEV' }}
        uses: docker/build-push-action@v6
        with:
          context: ./itu-minitwit-golang
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/itu-minitwit-golang:${{ env.short_sha }}
    outputs:
      short_sha: ${{ env.short_sha }}
  deploy:
    runs-on: ubuntu-latest
    needs:
      - build
      - get-env
    environment: ${{ needs.get-env.outputs.env }}
    env:
      TF_WORKSPACE: ${{ vars.TF_WORKSPACE }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    defaults:
      run:
        working-directory: ./itu-minitwit-golang
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform init
        run: terraform init
        working-directory: ./itu-minitwit-golang/deployments/terraform

      - name: Terraform apply
        run: |
          terraform apply -auto-approve \
            -var="do_token=${{ secrets.DIGITAL_OCEAN_API_KEY }}" \
            -var="do_ssh_key_name=${{ secrets.DIGITAL_OCEAN_SSH_KEY_NAME }}" \
            -var="ghcr_username=${{ secrets.GHCR_PAT_USERNAME }}" \
            -var="ghcr_token=${{ secrets.GHCR_PAT_TOKEN }}" \
            -var="api_user=${{ secrets.API_USER }}" \
            -var="api_password=${{ secrets.API_PASSWORD }}"
          ip_address=$(terraform output -raw ip_address)
          echo "ip_address=$ip_address" >> $GITHUB_ENV
        working-directory: ./itu-minitwit-golang/deployments/terraform

      - name: Check user_data script completion
        working-directory: ./scripts
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ./id_rsa
          chmod 600 ./id_rsa

          sleep 30
          
          scp -o StrictHostKeyChecking=no -i ./id_rsa check_user_data_completion.sh "root@${{ env.ip_address }}":/tmp/
          ssh -o StrictHostKeyChecking=no -i ./id_rsa "root@${{ env.ip_address }}" "bash /tmp/check_user_data_completion.sh"

      - name: Log in to GitHub Docker registry
        if: ${{ needs.get-env.outputs.env == 'DEV' }}
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create env file
        run: |
          echo "DOCKER_IMAGE=ghcr.io/${{ github.repository_owner }}/itu-minitwit-golang:${{ needs.build.outputs.short_sha }}" >> ./envfile

      - name: Docker Stack Deploy
        uses: cssnr/stack-deploy-action@v1
        with:
          name: itu-minitwit
          file: ./itu-minitwit-golang/docker-compose.yml
          host: ${{ env.ip_address }}
          user: root
          ssh_key: ${{ secrets.SSH_PRIVATE_KEY }}
          env_file: ./itu-minitwit-golang/envfile
          registry_auth: true
          registry_host: ghcr.io
          registry_user: ${{ github.actor }}
          registry_pass: ${{ secrets.GITHUB_TOKEN }}

  create-release:
    runs-on: ubuntu-latest
    needs:
      - deploy
      - get-env
    if: ${{ needs.get-env.outputs.env == 'PROD' }}
    steps:
      - uses: actions/checkout@v3
      - name: Create a Release
        uses: elgohr/Github-Release-Action@v5
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          title: Release ${{ github.sha }}



